
<div>
  <a (click)="cadastrarCliente()" class="btn btn-warning">Cadastrar Cliente</a>
</div>
<br>
<div class="row">  
  <table class="table table-striped">  
    <tr>  
      <td>Nome</td>  
      <td>Cpf</td>  
      <td>Email</td>  
      <td>Data Nascimento</td>  
      <td>Descrição</td>  
      <td>Adicionar Endereço</td> 
      <td>Editar</td>
      <td>Deletar</td>
    </tr>  
    <tr *ngFor="let cli of cliente">  
      <td>{{cli.nome}}</td>  
      <td>{{cli.cpf}}</td>  
      <td>{{cli.email}}</td>  
      <td>{{ cli.dataNascimento | date: 'dd/MM/yyyy' }}</td>  
      <td>{{cli.descricao}}</td>  
      <td><a (click)="adicionarEndereco(cli.idCliente)" class="btn btn-warning">Adicionar Endereço</a></td>  
      <td><a (click)="editarCliente(cli.idCliente)" class="btn btn-warning">Editar</a></td>  
      <td><a (click)="deletarCliente(cli.idCliente)" class="btn btn-danger">Deletar</a></td>    
    </tr>  
  </table>  
</div> 